
.header{
    position:relative;
    width:100%;
}

.imageDump{
    width:100%;
    margin:auto;
}

.image{
    width: 100%;
}

.images{
    float: left;
    width: 250px;
    margin: 8px;
    height: 180px;
    border: 2px solid lightgray;
    padding: 5px;
}

.top5{
    width:100%;
    background-color:rgba(119, 119, 119, .2)
}

.loadimg{
    background-color: dodgerblue;
    width: 100%;
}

.startImage{
    height:100%;
    width:100%;
    margin-top:15px;
    z-index:4;
    position:absolute;
}

.bgImage{
    position:relative;
    width:100%;
    height:100%;
    margin-top:15px;
    filter:brightness(50%)
}
/*the whole modal*/
#start-modal{
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}

#image-modal{
    position: fixed;
    width: 70%;
    height:260px;
    top:5%;
    left: 15%;
}

.mymodal-content{
    text-align: center;
    vertical-align: middle;
    height:80%;
    width:80%;
    margin:  auto;
    animation-name:startscreen;
    animation-duration: 1s;
}

@keyframes startscreen{
    from{opacity:0;}
    to{opacity:1;}
}

.mymodal-body{
    margin:auto;
    height:100%;
    width:auto;
    position:relative;
}

.start-btn{
    font-size: 55px;
    background-color: darkslategray;
    color:aliceblue;
    padding:20px;
    border-radius: 5px;
}

.start-btn:hover{
    background-color: pink;
    color:darkslategray;
    border-color: limegreen;
}